body {
  background-color: rgb(158, 227, 137);

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

.image {
  border: 5px solid green;
  border-radius: 10px;
  height: 400px;
}

footer {
    background-color: #ffffff; 
    color: #000000; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
}

.footer-content {
    margin-bottom: 15px; 
}

.footer-content h3 {
    font-size: 18px; 
    margin-bottom: 10px;
    font-weight: bold; 
}

.footer-content p {
    margin: 5px 0; 
}

.footer-bottom {
    border-top: 3px solid #333; 
    padding-top: 10px; 
    font-size: 12px; 
    text-align: center; 
    border: none;
    box-shadow: 0 9px #999;
}

.link-button:hover{
  background-color: rgb(222, 229, 236);
}

.link-button:active{
  background-color:rgb(222, 229, 236);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
